<%- include('./partials/header.ejs') %>

    <div class="liste-accessoires">
        <a class="ligne" href="">Sacs</a>
        <a class="ligne" href="">Petite Maroquineries</a>
        <a class="ligne" href="">Ceintures</a>
        <a class="ligne" href="">Bijoux</a>
        <a class="ligne" href="">Autres</a>
        </div>
        
<%- include('./partials/footer.ejs') %>