<%- include('./partials/header.ejs') %>

    <div class="liste-vetements">
        <a class="ligne" href="">Pantalons</a>
        <a class="ligne" href="">Jupes & Shorts</a>
        <a class="ligne" href="">Robes</a>
        <a class="ligne" href="">Hauts</a>
        <a class="ligne" href="">Pulls & Gilets</a>
        <a class="ligne" href="">Vestes & Manteaux</a>
    </div>

<%- include('./partials/footer.ejs') %>