<%- include('partials/header.ejs') %>

    <div class="images-icone">
        <a href="/clothes" class="lien-conteneur-photo">
            <img class="image-vetements" src="/images/vetements.jpg" alt="Vetements" title="Vetements" width="400" height="300">
            <div class="photo-hover">Vetements</div>
        </a>
        <a href="/shoe" class="lien-conteneur-photo">
            <img class="image-chaussures" src="/images/chaussures3.jpg" alt="Chaussures" title="Chaussures" width="400" height="300">
            <div class="photo-hover">Chaussures</div>
        </a>
        <a href="/accessory" class="lien-conteneur-photo">
            <img class="image-accessoires" src="/images/accessoires2.jpg" alt="Accessoires" title="Accessoires" width="400" height="300">
            <div class="photo-hover">Accessoires</div>
        </a>
    </div>

<%- include('partials/footer.ejs') %>
