<footer>
    <div class="icone-reseau">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100086087240017" class="lien-icone">
            <img src="images/logos/facebook.png" alt="Logo facebook" class="facebook" width="50" height="50">
        </a>
        <a target="_blank" href="https://www.instagram.com/naya_mode_shop/" class="lien-icone">
            <img src="images/logos/insta.png" alt="Logo Instagram" class="instagram" width="50" height="50">
        </a>
    </div>
</footer>
</body>

</html>