<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Naya-Mode</title>
        <link rel="stylesheet" href="/css/style.css">
        <% if (page === "home") { %>
            <link rel="stylesheet" href="/css/home.css">
        <% } else if (page === "clothes") { %>
            <link rel="stylesheet" href="/css/clothes.css">
        <% } else if (page === "accessory") { %>
            <link rel="stylesheet" href="/css/accessory.css">
        <% } else if (page === "shoe") { %>
            <link rel="stylesheet" href="/css/shoe.css">
        <% } else if (page === "cart") { %>
            <link rel="stylesheet" href="/css/cart.css">
        <% } else if (page === "contact") { %>
            <link rel="stylesheet" href="/css/contact.css">
        <% } %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
    </head>

<body>
    <header>
        <img class="logo" src="/images/logos/MN.png" alt="Logo" width="180">
        <h1>NAYA MODE</h1>
        <p class="boutique">BOUTIQUE PRÊT À PORTER ET ACCESSOIRES</p>
    </header>
    <nav>
        <a class="nav" href="/">Accueil</a>
        <a class="nav" href="/clothes">Vêtements</a>
        <a class="nav" href="/shoe">Chaussures</a>
        <a class="nav" href="/accessory">Accesssoires</a>
        <a class="nav" href="/cart">Panier</a>
        <a class="nav" href="/contact">Contact</a>
    </nav>