body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    overflow: hidden;  
}


header {
    background-image: url(images/nicole.jpg);
    background-repeat: no-repeat;
    background-size: 150% 100% ;
    color: white;
    text-decoration:none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    position: sticky;
    top: 0;
    height: 100vh;
}

.head {
    display: flex;
    flex-direction: row;
    width: 25%;
    padding-left: 20px;
    gap: 20px;
}

.head h1 {
    font-size: small;
}

.logo {
    width: 2em;
}

.latest {
    background-color: rgba(171, 162, 162, 0.3) ;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
    padding: 5px 10px 5px 200px;
    font-size: x-small;
}

span {
    font-size: x-small;
    font-style: italic;
    font-weight: normal;
}

.lien {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: x-small;
}

.lien a {
    text-shadow: 1px 1px 2px white;
}

header, a {
    text-decoration: none;
    color: white;
}

main {
    width: 50%;
    background-color: #f9f9f9;
    padding: 1em;
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
    height: 100vh;
    overflow: scroll;
}

main h1 {
    padding-left: 15px;
    font-size: 25px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

article {
    width: 49%;
    background-color: white;
    margin-left: 0;
}

.news {
    color: white;
    display: inline-block;
    font-size: x-small;
    background-color: #98dc62;
    margin-left: 1em;
    border-radius: 10%;
    padding: 0.2em;
}

.team {
    color: white;
    display: inline-block;
    font-size: x-small;
    background-color: #dc5e53;
    padding: 0.2em;
    margin-left: 1em;
    border-radius: 10%;
}

.work {
    color: white;
    display: inline-block;
    font-size: x-small;
    background-color: #0766f0;
    padding: 0.2em;
    margin-left: 1em;
    border-radius: 10%;
}

.info{
    display: flex;
    padding-top: 15px;  
}

.titre {
    padding-left: 15px;
    font-size: x-small;
}

.info img {
    width: 10%;
    height: 25px;
    padding-right: 5px;
}

.info p {
    font-size: 8px;
    padding-left: 5px;

}

.date {
    color: gray;
}

.paragraphe {
    font-weight: normal;
    font-size: 12px;
}
article a {
    color: blue;
    text-decoration: underline;
    font-size: x-small;
}