<%- include('./partials/header.ejs') %>

        <div class="liste-chaussures">
        <a class="ligne" href="">Sneakers</a>
        <a class="ligne" href="">Bottines</a>
        <a class="ligne" href="">Escarpins</a>
        <a class="ligne" href="">Mocassins</a>
        <a class="ligne" href="">Sandales</a>
        </div>
        
<%- include('./partials/footer.ejs') %>

    